# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Testing
.coverage
.tox/
.nox/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor/IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
logs/
*.log
debug.log
.DS_Store

# Python environment variables
.env
*.env
